body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

header {
	display: flex;
	flex-direction: column; /* 버튼들을 위아래로 배치 */
	align-items: flex-start; /* 왼쪽 정렬 */
	padding: 10px;
	background-color: #f0f0f0;
}

.button-container {
    border: 1px solid black; /* 하얀색 테두리 설정 */
    display: inline-block; /* 컨테이너가 버튼과 같은 크기를 가지도록 함 */
    padding: 5px; /* 컨테이너 내부 여백 설정 */
}

#userProfileBtn, #userStatusBtn {
	margin-bottom: 10px; /* 버튼들 간의 간격 설정 */
	padding: 5px 10px;
	background-color: #ccc;
	border: none;
	cursor: pointer;
	display: block; /* 버튼들을 block 요소로 설정 */
}

#pongGame {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#gameTitle {
	font-size: 2em;
	margin-bottom: 20px;
}

#gameOptions {
	display: flex;
	flex-direction: column;
}

/* Add border to userListContainer */
#userListContainer {
	overflow-y: auto;
	max-height: calc(50vh - 50px);
	padding: 10px;
	width: 300px;
	margin-left: 0%;
	border: 1px solid #ccc; /* Add border */
}


#joinChatButton {
	margin-left: auto;
	width: 30%;
	margin-top: 0px;
	font-weight: bold;
	border: 1px solid #ccc; /* Add border */
}
	/* "online_user" 이름 스타일 */
#onlineUserLabel {
	margin-left: 10px;
	margin-top: 10px;
	font-weight: bold;
}

/* "live_chat" 이름 스타일 */
#liveChatLabel {
	margin-left: auto;
	width: 30%;
	margin-top: 0px;
	font-weight: bold;
}

/* Add border to chatContainer */
#chatContainer {
	flex-grow: 1;
	overflow-y: auto;
	padding: 10px;
	margin-left: auto;
	width: 30%;
	background-color: #f0f0f0;
	border: 1px solid #020101; /* Add border */
}


#h1 {
	font-size : 20px;
}

#h2 {
	font-size: 10px;
}